.burger {
    max-width: 728px;
    width: 100%;
    margin: 64px 20px 0;
    height: 522px;
    padding: 18px 24px;
    border-radius: 32px;
    border: 1px solid black;
    background: rgba(51, 51, 51, 1);
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.burger .log {
    display: block;
}

.burger .log-x {
    width: 56px;
    height: 40px;
    padding: 0px 16px;
    border-radius: 16px;
    background: rgba(118, 117, 123, 1);
}

.burger .header {
    margin: 0 auto;
    background: rgba(51, 51, 51, 1);
    display: flex;
    justify-content: flex-end;
}

.burger .list {
    padding: 8px;
    background: rgba(51, 51, 51, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.burger .item-list.enter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(51, 51, 51, 1);

}

.burger .item-list {
    border-bottom: 1px solid rgba(118, 117, 123, 1);
    background: rgba(51, 51, 51, 1);
    height: 76px;
    padding: 24px;
}

.burger .item-list.active {
    color: rgba(245, 250, 147, 1);
    position: relative;
}

.burger .item-list.faq {
    border: none;
}

.burger .cursor {
    background: rgba(51, 51, 51, 1);
    position: absolute;
    bottom: 13px;
    left: 123px;
}